@media screen and (min-width:960px){
body{
    margin: 0;
}
.container1
{
position: relative;
text-align: center;
color: white;
}
.center
{
position:absolute;
top:2%;
left:30%;
font-size:50px;
color:darkblue;
}
.center:hover
{
color:red;
}
.link
{
text-align:center;
word-spacing:105px;
font-size:30px;	
background-color:YELLOWgreen;
border: 2px solid black;
}
.link:hover
{
background-color:yellow;
}
.container
{
    display: table;
    font-size: 20px;
}
.container .row
{
    display: table-row;
}
.container .row .cell
{
    display: table-cell;
    padding: 10px;
}
.container .row .cell .box1
{
    text-align: justify;
}
button{
    background-color: darksalmon;
}
#attribution span{
    float: left;
    color: #fff;
    margin-left: 90px;
    padding: 10px 0;
   }
   .clearfix:before,
   .clearfix:after,
   .row:before,
   .row:after{
    content: " ";
    display: table;
   }
   .clearfix:after,
   .container:after,
   .row:after{
       clear: both;
   }
}