.mainDiv
{
background-color: skyblue;
}

.headDiv
{
color:red;
font-size:45px;
}
.headDiv:hover	
{
color:green;
}

.link
{
background-color:yellow;
font-size:35px;
text-align:center;
word-spacing:60px;
}
.link:hover
{
background-color:pink;
}

.paragraph
{
font-size:28px;
}
.paragraph:hover
{
color:blue;
}

.men:hover
{
background-color:blue;
}

.women:hover
{
background-color:red;
}

.kids:hover
{
background-color:green;
}
.copyright
{
font-size:30px;
background-color:yellow;
}
.copyright
{
color:red;
}

.copyright:hover
{
color:green;
background-color:tomato;
}











